<div class="main-container">
  <mat-toolbar class="main-toolbar">
    <mat-icon class="me-4" (click)="toggleMenu()" [matTooltip]="'Menu'"
      >menu</mat-icon
    >
    <div class="">
      <h2 class="header-bg">
        <span class="c-name">Matha Theatres</span>
      </h2>
    </div>

    <span class="space"></span>
    <button class="btn me-1  btn-sm">
      <mat-icon class="" matTooltip="Profile">account_box</mat-icon>
    </button>
    <button class="btn ms-1  btn-sm">
      <mat-icon (click)="logout()" matTooltip="Logout">logout</mat-icon>
    </button>
  </mat-toolbar> 

  <mat-sidenav-container class="main-sidenav-container" autosize>
    <mat-sidenav #sidenav class="main-sidenav" mode="side" opened="true">
      <mat-nav-list class="dashboard">
        <a
          mat-list-item
          (click)="toggleActive('account_circle')"
          [matTooltip]="isExpanded ? '' : 'Home'"
          matTooltipPosition="after"
          routerLink="home"
        >
          <mat-icon mat-list-icon>home</mat-icon>
          <span *ngIf="isExpanded" class="mat-list-item-content">Home</span>
        </a>

        <mat-divider></mat-divider>

        <a
          mat-list-item
          (click)="toggleActive('inbox')"
          [matTooltip]="isExpanded ? '' : 'Add Theatre'"
          matTooltipPosition="after"
          routerLink="theatre"
        >
          <mat-icon mat-list-icon>loupe</mat-icon>
          <span *ngIf="isExpanded" class="mat-list-item-content"
            >Add Theatre</span
          >
        </a>
        <a
          mat-list-item
          (click)="toggleActive('inbox')"
          [matTooltip]="isExpanded ? '' : 'Add Capacity'"
          matTooltipPosition="after"
          routerLink="capacity"
        >
          <mat-icon mat-list-icon>supervisor_account</mat-icon>
          <span *ngIf="isExpanded" class="mat-list-item-content"
            >Add capacity</span
          >
        </a>
        <a
          mat-list-item
          (click)="toggleActive('inbox')"
          [matTooltip]="isExpanded ? '' : 'Add price'"
          matTooltipPosition="after"
          routerLink="price"
        >
          <mat-icon mat-list-icon class="fw-bold">&#8377;</mat-icon>
          <span *ngIf="isExpanded" class="mat-list-item-content"
            >Add Price</span
          >
        </a>
        <a
          mat-list-item
          (click)="toggleActive('star')"
          [matTooltip]="isExpanded ? '' : 'Add Event'"
          matTooltipPosition="after"
          routerLink="event"
        >
          <mat-icon mat-list-icon>event</mat-icon>
          <span *ngIf="isExpanded" class="mat-list-item-content"
            >Add Event</span
          >
        </a>
        <a
          mat-list-item
          (click)="toggleActive('star')"
          [matTooltip]="isExpanded ? '' : 'Add Slot'"
          matTooltipPosition="after"
          routerLink="slot"
        >
          <mat-icon mat-list-icon>schedule</mat-icon>
          <span *ngIf="isExpanded" class="mat-list-item-content">Add Slot</span>
        </a>
        <a
          mat-list-item
          (click)="toggleActive('drafts')"
          [matTooltip]="isExpanded ? '' : 'Add Cake'"
          matTooltipPosition="after"
          routerLink="cake"
        >
          <mat-icon mat-list-icon>cake</mat-icon>
          <span *ngIf="isExpanded" class="mat-list-item-content">Add Cake</span>
        </a>

        <a
          mat-list-item
          (click)="toggleActive('mail')"
          [matTooltip]="isExpanded ? '' : 'Add Props'"
          matTooltipPosition="after"
          routerLink="props"
        >
          <mat-icon mat-list-icon>grains</mat-icon>
          <span *ngIf="isExpanded" class="mat-list-item-content"
            >Add Props</span
          >
        </a>
        <a
          mat-list-item
          (click)="toggleActive('delete')"
          [matTooltip]="isExpanded ? '' : 'Add Photos'"
          matTooltipPosition="after"
          routerLink="photo"
        >
          <mat-icon mat-list-icon>photo_add</mat-icon>
          <span *ngIf="isExpanded" class="mat-list-item-content"
            >Add Photos</span
          >
        </a>
        <a
          mat-list-item
          (click)="toggleActive('warning')"
          [matTooltip]="isExpanded ? '' : 'Add Flowers'"
          matTooltipPosition="after"
          routerLink="flower"
        >
          <mat-icon mat-list-icon>local_florist</mat-icon>
          <span *ngIf="isExpanded" class="mat-list-item-content"
            >AddFlowers</span
          >
        </a>
        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>

    <div class="main-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
