<div class="dashboard-container">
  <mat-toolbar class="dashboard-toolbar">
    <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <img
        src="assets/images/mainlogo.png"
        alt="Matha Theatres Logo"
        class="logo p-2"
      />
    </div>
  
    <span class="toolbar-spacer"></span>
    <button mat-icon-button routerLink="profile" matTooltip="Profile">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()" matTooltip="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile && isExpanded"
      class="dashboard-sidenav"
    >
      <div class="sidenav-links">
        <a class="sidenav-link" routerLink="home" (click)="onLinkClick()">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a class="sidenav-link" routerLink="theatre" (click)="onLinkClick()">
          <mat-icon>theater_comedy</mat-icon>
          <span>Theatre</span>
        </a>
        <a class="sidenav-link" routerLink="capacity" (click)="onLinkClick()">
          <mat-icon>group</mat-icon>
          <span>Capacity</span>
        </a>
        <a class="sidenav-link" routerLink="event" (click)="onLinkClick()">
          <mat-icon>event</mat-icon>
          <span>Events</span>
        </a>
        <a class="sidenav-link" routerLink="slot" (click)="onLinkClick()">
          <mat-icon>schedule</mat-icon>
          <span>Slots</span>
        </a>
        <a class="sidenav-link" routerLink="cake" (click)="onLinkClick()">
          <mat-icon>cake</mat-icon>
          <span>Cakes</span>
        </a>
        <a class="sidenav-link" routerLink="props" (click)="onLinkClick()">
          <mat-icon>emoji_objects</mat-icon>
          <span>Props</span>
        </a>
        <a class="sidenav-link" routerLink="photo" (click)="onLinkClick()">
          <mat-icon>photo_camera</mat-icon>
          <span>Photos</span>
        </a>
        <a class="sidenav-link" routerLink="flower" (click)="onLinkClick()">
          <mat-icon>local_florist</mat-icon>
          <span>Flowers</span>
        </a>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
