<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-header bg-dark text-light">
              Add Theatre Capacity
            </div>
            <div class="card-body">
              <form [formGroup]="capacityForm">
                <div class="form-group mb-3">
                  <label for="theatre" class="form-label">Theatre</label>
                  <select
                    id="theatre"
                    class="form-select"
                    formControlName="theatreId"
                  >
                    <option value="">--- Select ---</option>
                    <option
                      *ngFor="let theatre of theatresListWithId"
                      [value]="theatre._id"
                    >
                      {{ theatre.theatrename }}
                    </option>
                  </select>
                  <div
                    *ngIf="
                      capacityForm.controls['theatreId'].invalid &&
                      (capacityForm.controls['theatreId'].dirty ||
                        capacityForm.controls['theatreId'].touched)
                    "
                    class="text-danger"
                  >
                    Theatre is required
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="capacity" class="form-label">Capacity</label>
                  <input
                    type="number"
                    id="capacity"
                    class="form-control"
                    formControlName="capacity"
                  />
                  <div
                    *ngIf="
                      capacityForm.controls['capacity'].invalid &&
                      (capacityForm.controls['capacity'].dirty ||
                        capacityForm.controls['capacity'].touched)
                    "
                    class="text-danger"
                  >
                    Capacity is required and must be a positive number
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="basePrice" class="form-label">Base Price</label>
                  <input
                    type="number"
                    id="basePrice"
                    class="form-control"
                    formControlName="basePrice"
                  />
                  <div
                    *ngIf="
                      capacityForm.controls['basePrice'].invalid &&
                      (capacityForm.controls['basePrice'].dirty ||
                        capacityForm.controls['basePrice'].touched)
                    "
                    class="text-danger"
                  >
                    Base price is required and must be a positive number
                  </div>
                </div>

                <div class="form-group mb-3">
                  <label for="extraPricePerPerson" class="form-label">
                    Extra Price per Person
                  </label>
                  <input
                    type="number"
                    id="extraPricePerPerson"
                    class="form-control"
                    formControlName="extraPricePerPerson"
                  />
                  <div
                    *ngIf="
                      capacityForm.controls['extraPricePerPerson'].invalid &&
                      (capacityForm.controls['extraPricePerPerson'].dirty ||
                        capacityForm.controls['extraPricePerPerson'].touched)
                    "
                    class="text-danger"
                  >
                    Extra price per person is required and must be a positive
                    number
                  </div>
                </div>

                <div class="text-center">
                  <button
                    type="button"
                    class="btn btn-capacity"
                    *ngIf="addBtn"
                    (click)="addCapacity()"
                    [disabled]="capacityForm.invalid"
                  >
                    Add Capacity
                  </button>
                  <button
                    type="button"
                    class="btn btn-capacity"
                    *ngIf="updateBtn"
                    (click)="updateCapacity()"
                    [disabled]="capacityForm.invalid"
                  >
                    Update Capacity
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Capacity List Section -->

        <div class="col-sm-8">
          <div class="card mb-4">
            <div class="card-header bg-dark text-light">Capacity List</div>
            <div class="card-body">
              <!-- Search Input -->
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search capacities..."
                  [(ngModel)]="searchTerm"
                  (input)="filterCapacities()"
                />
              </div>

              <div class="table-responsive">
                <table class="table table-striped table-bordered text-center">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Theatre Name</th>
                      <th>Capacity</th>
                      <th>Base Price</th>
                      <th>Extra Price per Person</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let capacity of filteredCapacities; let i = index"
                    >
                      <td>{{ i + 1 }}</td>
                      <td>{{ capacity.theatre?.theatrename }}</td>
                      <td>{{ capacity.capacity }}</td>
                      <td>{{ capacity.basePrice }}</td>
                      <td>{{ capacity.extraPricePerPerson }}</td>
                      <td class="text-center">
                        <mat-icon color="primary" class="me-2" (click)="editCapacity(capacity)"
                          >edit</mat-icon
                        >

                        <mat-icon color="warn" class="me-2" (click)="confirmDeleteCapacity(capacity)"
                          >delete</mat-icon
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="filteredCapacities.length === 0" class="text-center">
                <p>No capacities found.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
