<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 mt-4 m-auto">
      <div class="row">
        <div class="col-sm-4">
          <div>
            <span class="card-header">Add Theatre Capacity</span>
            <hr />
          </div>
          <form [formGroup]="capacityForm">
            <div class="form-group mb-3">
              <label for="theatre">Theatre</label>
              <select
                id="theatre"
                class="form-control"
                formControlName="theatreId"
              >
                <option value="">--- Select ---</option>
                <option
                  *ngFor="let theatre of theatresListWithId"
                  [value]="theatre._id"
                >
                  {{ theatre.theatrename }}
                </option>
              </select>
              <div
                *ngIf="
                  capacityForm.controls['theatreId'].invalid &&
                  (capacityForm.controls['theatreId'].dirty ||
                    capacityForm.controls['theatreId'].touched)
                "
                class="text-danger"
              >
                Theatre is required
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="capacity">Capacity</label>
              <input
                type="number"
                id="capacity"
                class="form-control"
                formControlName="capacity"
              />
              <div
                *ngIf="
                  capacityForm.controls['capacity'].invalid &&
                  (capacityForm.controls['capacity'].dirty ||
                    capacityForm.controls['capacity'].touched)
                "
                class="text-danger"
              >
                Capacity is required and must be a positive number
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="basePrice">Base Price</label>
              <input
                type="number"
                id="basePrice"
                class="form-control"
                formControlName="basePrice"
              />
              <div
                *ngIf="
                  capacityForm.controls['basePrice'].invalid &&
                  (capacityForm.controls['basePrice'].dirty ||
                    capacityForm.controls['basePrice'].touched)
                "
                class="text-danger"
              >
                Base price is required and must be a positive number
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="extraPricePerPerson">Extra Price per Person</label>
              <input
                type="number"
                id="extraPricePerPerson"
                class="form-control"
                formControlName="extraPricePerPerson"
              />
              <div
                *ngIf="
                  capacityForm.controls['extraPricePerPerson'].invalid &&
                  (capacityForm.controls['extraPricePerPerson'].dirty ||
                    capacityForm.controls['extraPricePerPerson'].touched)
                "
                class="text-danger"
              >
                Extra price per person is required and must be a positive number
              </div>
            </div>

            <div class="row">
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  *ngIf="addBtn"
                  (click)="addCapacity()"
                  [disabled]="capacityForm.invalid"
                >
                  Add Capacity
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  *ngIf="updateBtn"
                  (click)="updateCapacity()"
                  [disabled]="capacityForm.invalid"
                >
                  Update Capacity
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
          <div>
            <span class="card-header">Capacity List</span>
            <hr />
          </div>

          <div
            class="table-responsive"
            style="max-height: 400px; overflow-y: auto"
          >
            <table class="table table-bordered text-center">
              <thead class="thead-fixed sticky-top">
                <tr>
                  <th>#</th>
                  <th>Theatre Name</th>
                  <th>Capacity</th>
                  <th>Base Price</th>
                  <th>Extra Price per Person</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let capacity of capacities; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ capacity.theatre?.theatrename }}</td>
                  <td>{{ capacity.capacity }}</td>
                  <td>{{ capacity.basePrice }}</td>
                  <td>{{ capacity.extraPricePerPerson }}</td>
                  <td class="text-center">
                    <button
                      class="btn btn me-1"
                      (click)="editCapacity(capacity)"
                    >
                      <mat-icon color="primary">edit</mat-icon>
                    </button>
                    <button
                      class="btn btn ms-1"
                      (click)="confirmDeleteCapacity(capacity)"
                    >
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="capacities.length === 0  || null" class="text-center">
            <p>No capacities found.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
