<div class="container-fluid">
  <div class="row p-1 bg-light">
    <h2 class="header-bg mt-2">
      <span class="c-name">Matha Theatres</span>
    </h2>
  </div>

  <div class="row main">
    <div class="col-sm-7">
      <div class="p-4">
        <p class="c-caption">
          Celebrate togetherness with big-screen entertainment along with your
          loved ones
        </p>
      </div>
    </div>
    <div class="col-sm-5 p-4">
      <div class="row">
        <div class="col-sm-7">
          <div class="card admin-card text-light border-0">
            <div class="card-header">
              <h5 class="card-title">Admin Login</h5>
            </div>
            <div class="card-body">
              <form>
                <div class="form-group mb-3">
                  <label class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    id="username"
                    name="username"
                  />
                </div>
                <div class="form-group mb-3">
                  <label class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control form-control-sm"
                    id="password"
                    name="password"
                  />
                </div>
                <div class="text-center">
                  <button class="btn btn-light btn-sm mt-2 w-75">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
