.header-bg {
  color: #ee3c16;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
}
.c-name {
  box-shadow: 1px 2px 2px 3px inset rgb(209, 59, 59);
  padding: 8px;
  border-radius: 10px;
}
.c-caption {
  color: whitesmoke;
  font-family: fantasy;
  letter-spacing: 1px;
  font-size: 50px;
  margin-top: 80px;
}

.main {
  background: url("../../../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 488px;
}
.admin-card {
  margin-top: 50px;
  background-color: #fcfafa;
}

.text-danger {
  color: #ff4d4d;
}

.text-success {
  color: #28a745;
}

.loginbtn {
  background-color: #ee3c16;
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
